*.iml
.gradle
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/FrontEnd/*.iml
/FrontEnd/.gradle
/FrontEnd/local.properties
FrontEnd/.idea/*
*/.idea/*
/FrontEnd/.idea/*
/FrontEnd/.idea/caches
/FrontEnd/.idea/libraries
/FrontEnd/.idea/modules.xml
/FrontEnd/.idea/workspace.xml
/FrontEnd/.idea/navEditor.xml
/FrontEnd/.idea/assetWizardSettings.xml
/FrontEnd/.DS_Store
/FrontEnd/build
/FrontEnd/captures
/FrontEnd/.externalNativeBuild
/FrontEnd/.cxx
/FrontEnd/local.properties
